<nav id="navbar-meteo" class="d-flex flex-row justify-content-start m-3">
    <div>
        <a class="btn btn-sm btn-outline-primary m-3" href="{{ path('app_home') }}"><i class="fas fa-home"></i> Accueil</a>
    </div>
    <div>
        <a class="btn btn-sm btn-outline-primary m-3" href="{{ path('app_mountains') }}"><i class="fas fa-mountain"></i> Montagnes</a>
    </div>
    <div>
        <a class="btn btn-sm btn-outline-primary m-3" href="{{ path('app_beaches') }}"><i class="fas fa-umbrella-beach"></i> Plages</a>
    </div>
</nav>

<hr class="border border-dark w-auto mx-3">